*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Helvetica';
    background-color: black;
    

}
/* h1{
    text-align: center;
    padding: 10px;
    color: red;
} */

.wrapper{
    border: 3px solid red;
    margin: 1px;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/space3.png');
    overflow: hidden;
}

.score{
    font-size: 120px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    text-align: center;

}

.countdown{
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: red;

}

button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background:  red;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;

}

.game{
    /* border: 2px solid white; */
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: blanchedalmond;
    
}

.hole{
    border: 1px solid black;
    flex: 1 0 33.33%;
    position: relative;
    padding: 0 50px;
    overflow: hidden;
}

.hole:after{
    content: "";
    display: block;
    background-image: url(images/vent2.png);
    /* background: white; */
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 2;
    bottom: -25px;
    background-size: contain;
    background-repeat: no-repeat;
     
}

.mole{
    background-image: url(images/red.png);
    position: absolute;
    top: 100%;
    width: 60%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.mole.small{
    background-size: 80%;
}
.mole.large{
    background-size: 90%;
}

.hole.up .mole{
    top:0;
}

.made-by{
margin: 2rem auto;
color: white;
}
.made-by span{
color: red;
}
