*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: 'Helvetica';

}

.wrapper{
    border: 3px solid red;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/space.png');
    overflow: hidden;
}

.score{
    font-size: 150px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    text-align: center;

}

.countdown{
    position: absolute;
    top: 490px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: red;

}

button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background:  red;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200;
    cursor: pointer;
    border: none;
    outline: none;

}

.game{
    border: 2px solid white;
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hole{
    border: 3px solid red;
   
}
